body {
    background-color: floralwhite;
    margin: 0;
}

.body-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
div.body-c > * {
    margin: 25px 0px 0px 0px;
}


.pageHeader {
    color: darkblue;
    font-size: 50px;
}

.directions-c {
    width: 600px;
    font-size: 20px;
}

.button-c {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.rock, .paper, .scissors{
    color: forestgreen;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}

.results-c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
}

div.results-c > * {
    margin: 15px 0px 0px 230px;
    display: flex;
}

div.counter-c > *, div.player-results-c > *, div.npc-results-c > *, div.winDisplay-c > * {
    margin: 0;
}

.whoWon {
    font-weight: bold;
}